

:root{
    --radius: 20px

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(243, 225, 199);

}

.display{
    height: 3.5rem;
    padding: 1rem .5rem 0 0;
    background-color:rgb(211, 169, 114); 
    color: white;
    text-align: end;
    font-size: 2rem;
    max-width: 270px;
    overflow: hidden;

}

.container{
    background-color: rgba(73, 108, 223, 0.817);
    border-radius: var(--radius);
    min-width: 270px;

}

.column{
    display: flex;
    flex-direction: column;
        
}

.numbers{
    display: flex;
    justify-content: center;
    
}

.inputs{
    display: flex;
    margin: 20px auto 30px auto;
    justify-content: center;

}

.btn{
    padding: 1rem 1rem;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin: 3px;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;

}

.btn:hover{
    opacity: .7;
}

.op-btn,
.clear{
    background-color: orange;
    
}

.equal-btn{
    background-color: rgb(43, 226, 205);
    
}




